.mario {
  margin-left: 60px;
}

.top {
  width: 200px;
  height: 50px;
  background-color: lightgreen;
  border-top: 5px double green;
  border-left: 5px solid green;
  border-right: 5px solid green;
  border-bottom: 5px dotted green;
}

.bottom {
  width: 150px;
  height: 200px;
  background-color: lightgreen;
  margin-left: 25px;
  border-left: 5px solid green;
  border-right: 5px solid green;
  border-bottom: 5px solid green;
}

.hw-02-2 {
  margin-top: 20px;
}

p {
  border: 2px solid red;
  width: 150px;
  height: 50px;
}